/* css/main.css */
#logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg') center/200px 200px no-repeat;
  }
  
  #startButton {
    display: inline-block;
  }
  
  #count {
    font-weight: bold;
    display: inline-block;
  }
  